<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/layout :: head-fragment">
    <meta charset="UTF-8">
    <title></title>
</head>
<body class="bg-body">
<div th:replace="master/layout :: navbar-fragment"></div>

<div class="container m-5">
    <div th:if="${mensaje}">
        <div class="alert alert-success alert-dismissible fade show m-5" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <strong th:text="${mensaje}"></strong>
        </div>
    </div>

    <a class="btn btn-primary" href="/planetas/nuevo" role="button">Nuevo Planeta</a>

    <div class="row mt-3">
        <div class="col-md-4 mb-3" th:each="p : ${planetas}">
            <div class="card text-left text-dark">
                <img class="card-img-top" th:src="${p.foto}" alt="planeta" height="300">
                <div class="card-body">
                    <h4 class="card-title" th:text="${p.nombre}"></h4>
                    <p class="card-text" th:text="${p.info}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="master/layout :: footer-fragment"></div>
</body>
</html>