<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/layout :: head-fragment">
    <meta charset="UTF-8">
    <title></title>
</head>
<body class="bg-body">
<div th:replace="master/layout :: navbar-fragment"></div>

<div class="container m-5">
    <h3 class="text-center">Registrarse</h3>
    <form th:action="@{/registrarse}" th:object="${usuario}" method="post" style="width: 500px; margin: auto;">
        <div class="form-group">
            <label for="dni">Dni</label>
            <input class="form-control" type="text" th:field="*{dni}" id="dni" required>
        </div>
        <div class="form-group">
            <label for="username">Nombre de Usuario</label>
            <input class="form-control" type="text" th:field="*{nombre}" id="username" required>
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input class="form-control" type="password" th:field="*{contrasenia}" id="password" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
    </form>
</div>

<div th:replace="master/layout :: footer-fragment"></div>
</body>
</html>